<web-app>

    <context-param>
        <param-name>package</param-name>
        <param-value>com.test.controller</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>front</servlet-name>
        <servlet-class>
            com.servlet.FrontControllerServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>front</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    

</web-app>